/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2015, 3:03:59 PM
    Author     : mormon
    Source: http://designshack.net/articles/css/infinitephotobanner/
*/
* {margin: 0; padding: 0;}
 
            #container {
            width: 1000px;
            overflow: hidden;
            margin: 50px auto;
            background: white;
            }

        body {
            background-image: url("background.jpg");
        }
        .name {
            padding-top: 150px;
        }
        .main {
            background-color: white;
            box-shadow: 10px 10px 5px #202020;
            border-radius: 10px;
            width: 1000px;
            height: 600px;
            text-align: center;
            margin: auto;
        }
        .about {
            background-color: #E8E8E8;
            border-radius: 5px;
            padding-top: 60px;
            width: 700px;
            height: 200px;
            margin: auto;
        }
        
        /*header*/
        header {
            width: 600px;
            margin: 20px auto;
            text-shadow: 2px 2px grey;
            color: black;
        }

        header h1 {
            text-align: center;
            font: 100 60px/1.5 Helvetica, Verdana, sans-serif;

        }

        header p {
            font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
            text-align: justify;
        }

        /*photobanner*/

        .photobanner {
            height: 233px;
            width: 3550px;
            margin-bottom: 80px;
        }

        /*keyframe animations*/
        .first {
            -webkit-animation: bannermove 30s linear infinite;
            -moz-animation: bannermove 30s linear infinite;
            -ms-animation: bannermove 30s linear infinite;
            -o-animation: bannermove 30s linear infinite;
             animation: bannermove 30s linear infinite;
        }

        @keyframes "bannermove" {
         0% {
            margin-left: 0px;
         }
         100% {
            margin-left: -2125px;
         }

        }

        @-moz-keyframes bannermove {
         0% {
           margin-left: 0px;
         }
         100% {
           margin-left: -2125px;
         }

        }

        @-webkit-keyframes "bannermove" {
         0% {
           margin-left: 0px;
         }
         100% {
           margin-left: -2125px;
         }

        }

        @-ms-keyframes "bannermove" {
         0% {
           margin-left: 0px;
         }
         100% {
           margin-left: -2125px;
         }

        }

        @-o-keyframes "bannermove" {
         0% {
           margin-left: 0px;
         }
         100% {
           margin-left: -2125px;
         }

        }
        .photobanner {
            height: 233px;
            width: 3550px;
            margin-bottom: 80px;
        }

        .photobanner img {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .photobanner img:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            cursor: pointer;

            -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        }
        
        .h1 {
            font-family: 'Brush Script MT', cursive;
        }